org: brunogarcial
service: pardos-orders

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  stage: dev
  httpApi:
    cors: true
  environment:
    TENANTS_TABLE: Tenants-${self:provider.stage}
    MENU_TABLE: MenuItems-${self:provider.stage}
    ORDERS_TABLE: Orders-${self:provider.stage}
    ORDER_EVENTS_TABLE: OrderEvents-${self:provider.stage}
    EVENTS_BUS_NAME: pardos-orders-bus-${self:provider.stage}
    REPORTS_BUCKET: pardos-orders-reports-${self:provider.stage}

package:
  patterns:
    - "!node_modules/**"
    - "src/**"

functions:
  # ---------- MS TENANTS & MENU ----------
  getTenants:
    handler: src/ms_tenants_menu/get_tenants.handler
    events:
      - httpApi:
          path: /tenants
          method: get

  getMenu:
    handler: src/ms_tenants_menu/get_menu.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/menu
          method: get

  putMenuItem:
    handler: src/ms_tenants_menu/put_menu_item.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/menu
          method: post

  # ---------- MS ORDERS ----------
  createOrder:
    handler: src/ms_orders/create_order.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders
          method: post

  getOrder:
    handler: src/ms_orders/get_order.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders/{orderId}
          method: get

  listOrders:
    handler: src/ms_orders/list_orders.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders
          method: get

  # ---------- MS WORKFLOW ----------
  updateOrderStep:
    handler: src/ms_workflow/update_order_step.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/orders/{orderId}/step
          method: post

  getDashboardSummary:
    handler: src/ms_workflow/get_dashboard_summary.handler
    events:
      - httpApi:
          path: /tenants/{tenantId}/dashboard
          method: get

  exportDailyReport:
    handler: src/ms_workflow/export_daily_report.handler
    events:
      - schedule:
          rate: rate(1 day)
          enabled: true

stepFunctions:
  stateMachines:
    OrderWorkflowStateMachine:
      name: pardos-order-workflow-${self:provider.stage}
      events:
        - eventBridge:
            eventBus: ${self:provider.environment.EVENTS_BUS_NAME}
            pattern:
              source:
                - "pardos.orders"
              detail-type:
                - "order.created"
      definition:
        Comment: "Workflow simple de pedido Pardos Chicken"
        StartAt: MarkReceived
        States:
          MarkReceived:
            Type: Pass
            Next: WaitCooking
          WaitCooking:
            Type: Wait
            Seconds: 60
            Next: WaitPacking
          WaitPacking:
            Type: Wait
            Seconds: 60
            Next: WaitDelivering
          WaitDelivering:
            Type: Wait
            Seconds: 60
            Next: Done
          Done:
            Type: Succeed

resources:
  Resources:
    TenantsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TENANTS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH

    MenuTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MENU_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: product_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: product_id
            KeyType: RANGE

    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: order_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: order_id
            KeyType: RANGE

    OrderEventsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDER_EVENTS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: order_id
            AttributeType: S
          - AttributeName: ts
            AttributeType: S
        KeySchema:
          - AttributeName: order_id
            KeyType: HASH
          - AttributeName: ts
            KeyType: RANGE

    EventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:provider.environment.EVENTS_BUS_NAME}

    ReportsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.REPORTS_BUCKET}
